/* ↓ high_scores ↓ */

#parentgrid{
  display: grid;
  grid-template-areas:
  "header"
  "highscores"
  "footer"
  ;
}

header{
  display: grid;
  grid-template-areas:
  "logo"
  "navbar"
  ;
  grid-area: header;
}

#logo{
  grid-area: logo;
}

#navbar{
  grid-area: navbar;
}

#highscorecontainer{
  grid-area: highscores;
  justify-self: center;
}

#highscorecontainer h2{
  font-size: 3rem;
}

#highscores{
  font-size: 2rem;
  text-align: right;
}

footer{
  grid-area: footer;
  text-align: center;
}

/* ↑ high_scores ↑ */
