/* ↓ high_scores ↓ */

#parentgrid{
  display: grid;
  grid-template-areas:
  "header"
  "highscores"
  "footer"
  ;
}

header{
  display: grid;
  grid-template-areas:
  "logo"
  "navbar"
  ;
  grid-area: header;
}

#logo{
  grid-area: logo;
}

#navbar{
  grid-area: navbar;
}

#highscorecontainer{
  grid-area: highscores;
  width: 50vw;
  text-align: center;
  justify-self: center;
  margin-bottom: 50px;
}

#highscorecontainer h2{
  font-size: 4rem;
}

#highscores{
  font-size: 2rem;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

#highscores li{
  padding: 5%;
  margin: 0;
}

#highscores li:nth-child(1){
  font-size: 4rem;
}

#highscores li:nth-child(1)::before{
  content: "🎉";
}

#highscores li:nth-child(1)::after{
  content: "🎉";
}

#highscores li:nth-child(2){
  font-size: 3rem;
}

#highscores li:nth-child(2)::before{
  content: "👏";
}

#highscores li:nth-child(2)::after{
  content: "👏";
}

#highscores li:nth-child(3){
  font-size: 2rem;
}

#highscores li:nth-child(3)::before{
  content: "👌";
}

#highscores li:nth-child(3)::after{
  content: "👌";
}

footer{
  grid-area: footer;
  text-align: center;
}

/* ↑ high_scores ↑ */
