#parentgrid{
  display: grid;
  min-height: 100vh;
  grid-template-areas:
  "header"
  "btnwrapper"
  "startbtn"
  "resetbtn"
  "footer"
  ;
}

header{
  display: grid;
  grid-template-areas:
  "logo"
  "navbar"
  ;
  grid-area: header;
}

#logo{
  grid-area: logo;
}

#navbar{
  grid-area: navbar;
}

footer{
  grid-area: footer;
  text-align: center;
}

#startbtn{
  grid-area: startbtn;
  justify-self: center;
  margin-bottom: 50px;
}

#resetbtn{
  grid-area: resetbtn;
  justify-self: center;
  margin-bottom: 50px;
}

#btnwrapper{
  display: grid;
  margin-bottom: 30px;
  grid-gap: 0;
  grid-template-areas:
  "btn1 btn2"
  "btn3 btn4"
  "gameover gameover"
  "scoresubmitted scoresubmitted"
  "levelheader levelheader"
  "enterdetails enterdetails"
  ;
  grid-area: btnwrapper;
}

.btn{
  width: 12.5vw;
  height: 12.5vw;
  border: none;
  margin: 20px;
  box-shadow: 0px 0px 25px 5px #000000;
  transition: .5s;
}

.ctrlbtn{
  background-color: #756d54;
  font-family: 'Indie Flower', cursive;
  width: 200px;
  height: 100px;
  padding: 10px;
  font-size: 2rem;
  color: #f5f5f5;
  box-shadow: 0px 0px 25px 5px #000000;
  border-radius: 25px;
  border: none;
  font-weight: bolder;

}

.clicked{
  box-shadow: none;
  transition: .5s;
}

#btn1{
  background-color: #e83f6f;
  border-radius: 100% 25px 25px 25px;
  grid-area: btn1;
  justify-self: right;
  align-self: end;
}

#btn2{
  background-color: #32936F;
  border-radius: 25px 100% 25px 25px;
  grid-area: btn2;
  justify-self: left;
  align-self: end;
}

#btn3{
  background-color: #2274a5;
  border-radius: 25px 25px 25px 100%;
  grid-area: btn3;
  justify-self: right;
  align-self: start;
}

#btn4{
  background-color: #Ffbf00;
  border-radius: 25px 25px 100% 25px;
  grid-area: btn4;
  justify-self: left;
  align-self: start;
}

#gameover{
  font-family: 'Permanent Marker', cursive;
  color: #2e294e;
  text-align: center;
  font-size: 3rem;
  grid-area: gameover;
  justify-self: center;
}

#scoresubmitted{
  font-family: 'Permanent Marker', cursive;
  color: #2e294e;
  text-align: center;
  font-size: 3rem;
  grid-area: scoresubmitted;
  justify-self: center;
}

#enterdetails{
  grid-area: enterdetails;
  justify-self: center;
  text-align: center;
}

#levelheader{
  font-family: 'Permanent Marker', cursive;
  color: #2e294e;
  grid-area: levelheader;
  text-align: center;
  font-size: 3rem;
  justify-self: center;
}

#scoresubmitted a{
  color: #2e294e;
}

@media screen and (max-width: 1100px) {
  .btn{
    width: 20vw;
    height: 20vw;
  }
}

@media screen and (max-width: 600px) {
  .btn{
    width: 30vw;
    height: 30vw;
  }
}
