/* ↓ styling for simon game buttons ↓ */

#parentgrid{
  display: grid;
  grid-template-areas:
  "header"
  "btnwrapper"
  "startbtn"
  "resetbtn"
  "footer"
  ;
}

header{
  display: grid;
  grid-template-areas:
  "logo"
  "navbar"
  ;
  grid-area: header;
}

#logo{
  grid-area: logo;
}

#navbar{
  grid-area: navbar;
}

footer{
  grid-area: footer;
  text-align: center;
}

#startbtn{
  grid-area: startbtn;
  justify-self: center;
  margin-bottom: 50px;
}

#resetbtn{
  grid-area: resetbtn;
  justify-self: center;
  margin-bottom: 50px;
}

#btnwrapper{
  display: grid;
  margin-bottom: 50px;
  grid-gap: 0;
  grid-template-areas:
  "btn1 btn2"
  "btn3 btn4"
  "gameover gameover"
  "levelheader levelheader"
  ;
  grid-area: btnwrapper;
}

.btn{
  width: 17.5vw;
  height: 17.5vw;
  border: none;
  margin: 20px;
  box-shadow: 0px 0px 25px 5px #000000;
  transition: .5s;
}

.ctrlbtn{
  background-color: #756d54;
  font-family: 'Indie Flower', cursive;
  width: 15vw;
  height: 7.5vw;
  padding: 10px;
  font-size: 2rem;
  color: #2e294e;
  box-shadow: 0px 0px 25px 5px #000000;
  border-radius: 25px;
  border: none;
  font-weight: bolder;;

}

.clicked{
  box-shadow: none;
  transition: .5s;
}

#btn1{
  background-color: #e83f6f;
  border-radius: 100% 25px 25px 25px;
  grid-area: btn1;
  justify-self: right;
  align-self: end;
}

#btn2{
  background-color: #32936F;
  border-radius: 25px 100% 25px 25px;
  grid-area: btn2;
  justify-self: left;
  align-self: end;
}

#btn3{
  background-color: #2274a5;
  border-radius: 25px 25px 25px 100%;
  grid-area: btn3;
  justify-self: right;
  align-self: start;
}

#btn4{
  background-color: #Ffbf00;
  border-radius: 25px 25px 100% 25px;
  grid-area: btn4;
  justify-self: left;
  align-self: start;
}

/* ↑ styling for simon game buttons ↑ */

#gameover{
  font-family: 'Permanent Marker', cursive;
  color: #2e294e;
  text-align: center;
  font-size: 3rem;
  grid-area: gameover;
  justify-self: center;
}

#levelheader{
  font-family: 'Permanent Marker', cursive;
  color: #2e294e;
  grid-area: levelheader;
  text-align: center;
  font-size: 3rem;
  justify-self: center;
}
