/* ↓ instructions ↓ */

#parentgrid{
  display: grid;
  grid-template-areas:
  "header"
  "instructions"
  "footer"
  ;
}

header{
  display: grid;
  grid-template-areas:
  "logo"
  "navbar"
  ;
  grid-area: header;
}

#logo{
  grid-area: logo;
}

#navbar{
  grid-area: navbar;
}

footer{
  grid-area: footer;
  text-align: center;
}

/* ↓ instructions ↓ */

#instructions{
  display: grid;
  grid-template-columns: 1fr 3vw 1fr 3vw 1fr;
  grid-template-areas:
  "step1 . step1p . step1img"
  "step2 . step2p . step2img"
  "step3 . step3p . step3img"
  ;
}

#step1{
  grid-area: step1;
  justify-self: end;
}

#step2{
  grid-area: step2;
  justify-self: end;
}

#step3{
  grid-area: step3;
  justify-self: end;
}

#step1p{
  grid-area: step1p;
  justify-self: start;
}

#step2p{
  grid-area: step2p;
  justify-self: start;
}

#step3p{
  grid-area: step3p;
  justify-self: start;
}

#step1img{
  grid-area: step1img;
}

#step2img{
  grid-area: step2img;
}

#step3img{
  grid-area: step3img;
}

/* ↑ instructions ↑ */
