@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Permanent+Marker&display=swap');

/* font-family: 'Indie Flower', cursive;
font-family: 'Permanent Marker', cursive; */

body{
  padding: 0;
  margin: 0;
}

.hidden{
  display: none;
}
/* h2{
  font-family: 'Permanent Marker', cursive;
  color: #DDA0DD;
  text-align: center;
} */

/* ↓ styling for simon game buttons ↓ */

#parentgrid{
  background-color: #000000;
  height: fit-content;
  display: grid;
  grid-template-areas:
  "header"
  "btnwrapper"
  "startbtn"
  "resetbtn"
  "footer"
  ;
}

header{
  margin: 10px 10px 50px 10px;
  padding: 20px;
  text-align: center;
  border-radius: 25px;
  background-color: #808080;
  display: grid;
  grid-template-areas:
  "logo"
  "navbar"
  ;
  grid-area: header;
}

#logo{
  grid-area: logo;
  /* justify-self: center; */
  font-family: 'Permanent Marker', cursive;
  color: #DDA0DD;
  font-size: 5rem;
  margin: 0;
  padding: 0;
}

#navbar{
  grid-area: navbar;
  font-family: 'Indie Flower', cursive;
  margin: 0;
  padding: 0;
}

.unlist{
  list-style: none;
  /* justify-self: center; */
  margin: 0;
  padding: 0;
}

.unlist li{
  display: inline;
  vertical-align: center;
  padding: 0 5vw;
}

.unlist a{
  color: #DDA0DD;
  text-decoration: none;
  font-size: 2rem;
  padding: 1% 2%;
  border-radius: 25px;
}

.unlist a:hover{
  transition: .5s;
  background-color: #000000;
  color: #808080;
}

footer{
  color: #DDA0DD;
  margin: 10px;
  font-size: 3rem;
  padding: 20px;
  border-radius: 25px;
  background-color: #808080;
  grid-area: footer;
  text-align: center;
}

#startbtn{
  grid-area: startbtn;
  justify-self: center;
  margin-bottom: 50px;
}

#resetbtn{
  grid-area: resetbtn;
  justify-self: center;
  margin-bottom: 50px;
}


#btnwrapper{
  display: grid;
  margin-bottom: 50px;
  grid-gap: 0;
  grid-template-areas:
  "btn1 btn2"
  "btn3 btn4"
  "gameover gameover"
  "levelheader levelheader"
  ;
  grid-area: btnwrapper;
}

.btn{
  width: 17.5vw;
  height: 17.5vw;
  border: none;
  margin: 20px;
  box-shadow: 0px 0px 25px 10px #808080;
  transition: .5s;
}

.ctrlbtn{
  background-color: #DDA0DD;
  font-family: 'Indie Flower', cursive;
  width: 15vw;
  height: 7.5vw;
  padding: 10px;
  font-size: 2rem;
  color: #808080;
  box-shadow: 0px 0px 25px 10px #808080;
  border-radius: 25px;
  border: none;
  font-weight: bolder;;

}

.clicked{
  box-shadow: none;
  transition: .5s;
}

#btn1{
  background-color: #ff1818;
  border-radius: 100% 25px 25px 25px;
  grid-area: btn1;
  justify-self: right;
  align-self: end;
}

#btn2{
  background-color: #39FF14;
  border-radius: 25px 100% 25px 25px;
  grid-area: btn2;
  justify-self: left;
  align-self: end;
}

#btn3{
  background-color: #1F51FF;
  border-radius: 25px 25px 25px 100%;
  grid-area: btn3;
  justify-self: right;
  align-self: start;
}

#btn4{
  background-color: #FFF300;
  border-radius: 25px 25px 100% 25px;
  grid-area: btn4;
  justify-self: left;
  align-self: start;
}

#gameover{
  font-family: 'Permanent Marker', cursive;
  color: #DDA0DD;
  text-align: center;
  font-size: 3rem;
  grid-area: gameover;
  justify-self: center;
}

#levelheader{
  font-family: 'Permanent Marker', cursive;
  color: #DDA0DD;
  grid-area: levelheader;
  text-align: center;
  font-size: 3rem;
  justify-self: center;
}

/* ↑ styling for simon game buttons ↑ */
