@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Permanent+Marker&display=swap');

/* font-family: 'Indie Flower', cursive;
font-family: 'Permanent Marker', cursive; */

body{
  padding: 0;
  margin: 0;

  /* box-shadow: 0px 0px 25px 10px #b026ff; */
}

/* ↓ styling for simon game buttons ↓ */

#parentgrid{
  background-color: #364F6B;
  height: 100vh;
  display: grid;
  grid-template-areas:
  "header"
  "btnwrapper"
  "startbtn"
  "footer"
  ;
}

header{
  display: grid;
  grid-template-areas:
  "logo"
  "navbar"
  ;
  grid-area: header;
}

#logo{
  grid-area: logo;
  justify-self: center;
}

#navbar{
  grid-area: navbar;
}

.unlist{
  list-style: none;
  justify-self: center;
  margin: 0;
  padding: 0;
}

.unlist li{
  display: inline;
}

.unlist a{
  color: black;
  text-decoration: none;
}

footer{
  grid-area: footer;
  justify-self: center;
}

#startbtn{
  grid-area: startbtn;
  width: 50px;
  height: 50px;
  justify-self: center;
}


#btnwrapper{
  display: grid;
  grid-gap: 0;
  grid-template-areas:
  "btn1 btn2"
  "btn3 btn4"
  ;
  grid-area: btnwrapper;
}

.btn{
  width: 12.5vw;
  height: 12.5vw;
  border: none;
  margin: 20px;
  box-shadow: 0px 0px 25px 10px #b026ff;
  transition: .5s;
}

.clicked{
  box-shadow: none;
  transition: .5s;
}

#btn1{
  background-color: #ff1818;
  border-radius: 100% 25px 25px 25px;
  grid-area: btn1;
  justify-self: right;
  align-self: end;
}

#btn2{
  background-color: #39FF14;
  border-radius: 25px 100% 25px 25px;
  grid-area: btn2;
  justify-self: left;
  align-self: end;
}

#btn3{
  background-color: #1F51FF;
  border-radius: 25px 25px 25px 100%;
  grid-area: btn3;
  justify-self: right;
  align-self: start;
}

#btn4{
  background-color: #FFF300;
  border-radius: 25px 25px 100% 25px;
  grid-area: btn4;
  justify-self: left;
  align-self: start;
}

/* ↑ styling for simon game buttons ↑ */
