/* global styles only */

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Permanent+Marker&display=swap');

body{
  padding: 0;
  margin: 0;
}

.hidden{
  display: none;
}

h2 {
  font-family: 'Permanent Marker', cursive;
  color: #2e294e;
}

p, ol li, form{
  font-family: 'Indie Flower', cursive;
  color: #2e294e;
}

label{
  font-size: 2rem;
}

#parentgrid{
  background-color: #eaebed;
  height: fit-content;
  display: grid;
  grid-template-areas:
  "header"
  "instructions"
  "footer"
  ;
}

header{
  margin: 10px 10px 50px 10px;
  padding: 20px;
  text-align: center;
  border-radius: 25px;
  background-color: #756d64;
}

#logo{
  font-family: 'Permanent Marker', cursive;
  color: #f5f5f5;
  font-size: 5rem;
  margin: 0;
  padding: 0;
}

#navbar{
  font-family: 'Indie Flower', cursive;
  margin: 0;
  padding: 0;
}

.active{
  text-decoration: underline;
}

.unlist{
  list-style: none;
  margin: 0;
  padding: 30px;
}

.unlist li{
  display: inline;
  vertical-align: center;
  padding: 0 5vw;
}

.unlist a{
  color: #f5f5f5;
  text-decoration: none;
  font-size: 2rem;
  padding: 0 2%;
  border-radius: 25px;
}

.unlist a:hover{
  transition: .5s;
  background-color: #2e294e;
  color: #eaebed;
}

footer{
  color: #f5f5f5;
  margin: 10px;
  font-size: 3rem;
  padding: 20px;
  border-radius: 25px;
  background-color: #756d54;
  text-align: center;
}

footer ul{
  list-style: none;
  margin: 0;
  padding: 30px;
}

footer li{
  display: inline;
  vertical-align: center;
  padding: 0 5vw;
}

footer a{
  color: #f5f5f5;
  text-decoration: none;
  font-size: 2rem;
}

footer i{
  font-size: 4rem;
}

@media screen and (max-width: 800px) {

  .unlist li{
    display: block;
  }

  footer li{
    display: block;
  }

}
